@model List<Product>


@foreach (var item in Model)
{
        <li class="d-flex px-3">
               <a asp-controller="product" asp-action="detail" asp-root-id=@item.Id >@item.Name</a>                            
        </li>
}



